/*
font-family: 'Handlee', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* INTRO_PAGE */

.section_01_wrap{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../img/intro_bg_1.jpg") center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.lc_header{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.lc_header .logo{
    color: #1C1C1B;
    font-weight: 700;
    font-size: 2em;
    font-family: 'Handlee', cursive;
}

.lc_header ul{
    display: flex;
}

.lc_header ul li{
    margin: 0 10px;
    border-radius: 25px;
    font-weight: 500;
    color: #1C1C1B;
    padding: 8px 15px;
}

.lc_header ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #1C1C1B;
    padding: 8px 15px;
    border-radius: 25px;
}

.lc_header ul li:hover,
.lc_header ul li.active{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.section_01{
    width: 1140px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -570px;
    margin-top: -250px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.section_01 .row{
    margin: 0;
}

.intro_content{
    height: 260px;
    transform: translateX(20px) translateY(120px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px;
}

.intro_content h2{
    font-size: 3em;
    color: #101820;
}

.intro_content p{
    font-size: 1.2em;
    color: #343148;
}

.card_wrap .row{
    transform: translateX(50px) translateY(50px);
    display: flex;
}

.card_content_wrap{
    box-shadow: 20px 20px 50px rgba( 0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    margin: 0.5%;
}

.card_content_wrap:nth-child(1){
    width: 40%;
}

.card_content_wrap:nth-child(2){
    width: 58%;
}

.card_content_wrap:nth-child(3){
    width: 100%;
}

.card_content_wrap:hover{
    background: rgba(255, 255, 255, 0.75);
}

.card_content_wrap:hover .card_content{
    transform: translateY(0px);
    opacity: 1;
}

.card_content_wrap:hover h3{
    font-weight: 700;
}

.card_content_wrap:hover p{
    font-weight: 500;
}

.card_content{
    position: relative;
    padding: 5px;
    text-align: center;
    transform: translateY(100px);
    box-sizing: border-box;
    opacity: 0.3;
    transition: 0.5s;
    font-family: 'Nanum Gothic', sans-serif;
}

.card_content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.card_content h3{
    font-size: 1.8em;
    color: #101820;
    z-index: 1;
}

.card_content p{
    font-size: 1em;
    color: #343148;
    font-weight: 300;
}

.copyrightText{
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #1C1C1B;
}

/* INTRO_PAGE */