/*
font-family: 'Handlee', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body{
    background: #343148;
    overflow: hidden;
}

.lc_nav_wrap{
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.lc_nav{
    position: relative;
    height: 420px;
    width: 80px;
    background: #FCF6F5;
    overflow: hidden;
    transition: width 0.5s;
    border-radius: 20px;
}

.lc_nav:hover{
    width: 200px;
}

.lc_nav ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lc_nav ul li{
    position: relative;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.lc_nav ul li.toggleActive{
    background: #343148;
}

.lc_nav ul li.toggleActive a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #343148;
}

.lc_nav ul li.toggleActive a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #343148;
}

.lc_nav ul li a{
    position: relative;
    display: block;
    width: 100%;
    color: #343148;
    clear: both;
    text-decoration: none;
}

.lc_nav ul li.toggleActive a{
    color: #FCF6F5;
}

.lc_nav ul li a .lcn_icon{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
}

.lc_nav ul li a .lcn_icon i{
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.lc_nav ul li a .lcn_text{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

#lc_nav_wrap.toggleActive{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    z-index: 9999;
}

/**/

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("/img/intro_bg_2.png");
    background-size: 1000px 100px;
}

.wave.wave1{
    animation: wavebg1 30s linear infinite;
    z-index: 1000;
    opacity: 0.75;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes wavebg1 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

.wave.wave2{
    animation: wavebg2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes wavebg2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}

.wave.wave3{
    animation: wavebg2 20s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.wave.wave4{
    animation: wavebg2 5s linear infinite;
    z-index: 997;
    opacity: 0.2;
    animation-delay: -5s;
    bottom: 25px;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 8px;
    height: 5px;
    background: #ADEFD1;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #343148, 0 0 50px #ADEFD1, 0 0 100px #ADEFD1;
    animation: bubbles 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even){
    background: #ed6f63;
    box-shadow: 0 0 0 10px #343148, 0 0 50px #ed6f63, 0 0 100px #ed6f63;
}

@keyframes bubbles {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

/**/

/* INTRO_PAGE */

.section_01_wrap{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: url("../img/intro_bg_1.jpg") center fixed;*/
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.section_01{
    width: 1140px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -570px;
    margin-top: -300px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.section_01 .row{
    margin: 0;
    transform: translateY(50px);
    position: relative;
}

.intro_content{
    height: 400px;
    position: absolute;
    left: 25px;
    top: 25px;
    background: #FEFEFE;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px;
    overflow: hidden;
}

.intro_content:hover ul li div{
    background: #EC4D36;
}

.intro_content ul{
    height: 100%;
    position: relative;
    transform:  rotate(180deg);
    margin: 0;
}

.intro_content ul li{
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 100%;
}

.intro_content ul li div{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #8AAAE5;
}

#bpw a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#bpw.toggleActive{
    filter: blur(10px);
}

#popup1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
    background: #343148;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup1.toggleActive{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
    background: #343148;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup2.toggleActive{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popup3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
    background: #343148;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup3.toggleActive{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.card_wrap{
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(50%);
}

.card_wrap .row{
    transform: translateX(50px);
    display: flex;
}

.card_content_wrap{
    box-shadow: 20px 20px 50px rgba( 0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    margin: 0.5%;
    height: 100%;
}

.card_content_wrap:nth-child(1){
    width: 40%;
}

.card_content_wrap:nth-child(2){
    width: 58%;
}

.card_content_wrap:nth-child(3){
    width: 58%;
}

.card_content_wrap:nth-child(4){
    width: 40%;
}

.card_content_wrap:hover{
    background: rgba(255, 255, 255, 0.75);
}

.card_content_wrap:hover .card_content{
    transform: translateY(0px);
    opacity: 1;
}

.card_content_wrap:hover h3{
    font-weight: 900;
    color: #00203F;
}

.card_content_wrap:hover p{
    font-weight: 900;
    color: #00203F;
}

.card_content_wrap:nth-child(1):hover{
    background: #F9EBDE;
}

.card_content_wrap:nth-child(1):hover h3{
    color: #815854;
}

.card_content_wrap:nth-child(1):hover p{
    color: #815854;
}

.card_content_wrap:nth-child(2):hover{
    background: #ADEFD1;
}

.card_content_wrap:nth-child(2):hover h3{
    color: #00203F;
}

.card_content_wrap:nth-child(2):hover p{
    color: #00203F;
}

.card_content_wrap:nth-child(3):hover{
    background: #F7F7F9;
}

.card_content_wrap:nth-child(3):hover h3{
    color: #D2302C;
}

.card_content_wrap:nth-child(3):hover p{
    color: #D2302C ;
}

.card_content_wrap:nth-child(4):hover{
    background: #FAD0C9;
}

.card_content_wrap:nth-child(4):hover h3{
    color: #6E6E6D;
}

.card_content_wrap:nth-child(4):hover p{
    color: #6E6E6D;
}

.card_content_wrap a{
    display: block;
    width: 100%!important;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.card_content{
    position: relative;
    padding: 5px;
    text-align: center;
    transform: translateY(100px);
    box-sizing: border-box;
    opacity: 0.3;
    transition: 0.5s;
    font-family: 'Nanum Gothic', sans-serif;
}

.card_content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.card_content:hover h2{
    color: rgba(0, 0, 0, 0.15);
}

.card_content h3{
    font-size: 1.8em;
    color: #101820;
    z-index: 1;
}

.card_content p{
    font-size: 6em;
    color: #343148;
}

/*section_chart*/

.section_chart{
    font-family: 'Nanum Gothic', sans-serif;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.section_chart .container{
    height: 100%;
    position: relative;
}

.sc_header{
    width: 100%;
    height: 50px;
    position: relative;
    background: #FCF6F5;
    border-radius:20px 20px 0 0;
}

.sc_header ul{
    position: absolute;
    left: 0;
    top: 20px;
    display: flex;
    width: 100%;
}

.sc_header ul li{
    width: 50%;
    text-align: center;
}

.sc_header ul li a{
    color: #343148;
    text-decoration: none;
    font-size: 1.2em;
}

.sc_header ul li a:hover{
    border-bottom: 2px solid #343148;
}

.sc_chart{
    width: 100%;
    overflow: hidden;
    background: #FCF6F5;
}

.sc_chart iframe{
    width: 100%;
    height: 510px;
}

/*section_chart*/

/*news_part*/

.news_part{
    background: #FCF6F5;
    transform: translateY(-50px);
    height: 360px;
    border-radius: 20px;
}

.news_form_wrap{
    width: 100%;
}

.news_form_wrap form{
    text-align: center;
}

.news_form_wrap form input:nth-child(2){

    margin-right: 20px;
}

.news_form_wrap form input:nth-child(4){
    margin-right: 20px;
}

.news_part iframe{
    width: 100%;
    height: 300px;
}

.popupClose{
    position: absolute;
    right: 30px;
    top: 10px;
}

/*news_part*/

/*password*/

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

/*password*/

/**/

.copyrightText{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #FFF;
}

/* INTRO_PAGE */