#popup3 .container_wrap{
    position: relative;
}

#popup3 form{
    width: 737px;
    height: 809px;
    position: absolute;
    left: 32%;
    top: 43%;
    margin-left: -200px;
    transform: translateY(-50%);
    background: #FCF6F5;
    padding: 25px;
    text-align: center;
}

#popup3 .popupClose{
    position: absolute;
    right: 5px;
    top: 0;
}

#popup3 .signupcheck{
    width: 50%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    margin: 2%;
    background: transparent;
}

#popup3 .signupcheck:hover{
    background: #00203F;
    color: #FCF6F5;
}

.inputBox_wrap{
    display: flex;
}

.inputBox{
    position: relative;
    width: 250px;
    margin-bottom: 20px;
}

.inputBox input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: transparent;
    color: #00203F;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px 0 5px;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: 0.1em;
}

.buttonBox{
    display: block;
    width: 50%;
}