<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourward.linkchart.persistence.mapper.IChartMapper">
    <insert id="insertStockData" parameterType="StockDTO">
        insert into STOCK_DATA
        (CODE, PRICE_DATE, PRICE_OPEN, PRICE_HIGH, PRICE_LOW, PRICE_CLOSE, PRICE_VOLUME)
        select #{code},
               #{date},
               #{open},
               #{high},
               #{low},
               #{close},
               #{volume}
        from dual
        where not exists(
                select 1
                from stock_data
                where code = #{code}
                  and price_date = #{date}
            )

    </insert>

    <select id="getStockData" resultType="StockDTO">
        select price_date as "date",
               price_open as open,
               price_high as high,
               price_low as low,
               price_close as close,
               price_volume as volume
        from stock_data
        where code = (select c.code from stock_code c where c.name = #{name})
        order by price_date asc
    </select>

    <select id="getStockCodeByName" resultType="StockDTO">
        select
            c.code
        from stock_code c
        where c.name = #{name}
    </select>
</mapper>