<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourward.linkchart.persistence.mapper.IUserInfoMapper">
    <insert id="insertUserInfo" parameterType="UserInfoDTO">
        INSERT INTO USER_INFO
        (ID,
         EMAIL,
         NAME,
         PASSWORD,
         ADDR,
         REG_DATE)
        VALUES (#{user_id},
                #{email},
                #{user_name},
                #{password},
                #{addr},
                SYSDATE)
    </insert>
    <select id="getUserIdExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT 1 as isExists
        FROM USER_INFO
        WHERE ID = #{user_id}
    </select>
    <select id="getUserEmailExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT 1 as isExists
        FROM USER_INFO
        WHERE EMAIL = #{email}
    </select>
    <select id="getUserLoginCheck" parameterType="UserInfoDto" resultType="UserInfoDto">
        select 1 as isExists
        from user_info
        where ID = #{user_id}
          and password = #{password}
    </select>
</mapper>