<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourward.linkchart.persistence.mapper.IUserInfoMapper">
    <insert id="insertUserInfo" parameterType="UserInfoDTO">
        INSERT INTO USER_INFO
        (ID,
         EMAIL,
         NAME,
         PASSWORD,
         ADDR,
         REG_DATE)
        VALUES (#{user_id},
                #{user_email},
                #{user_name},
                #{user_password},
                #{user_addr},
                TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:MI:SS'))
    </insert>
    <select id="getUserIdExist" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT COUNT(ID) AS isExist
        FROM USER_INFO
        WHERE ID = #{user_id}
    </select>
    <select id="getUserEmailExist" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT COUNT(EMAIL) AS isExist
        FROM USER_INFO
        WHERE EMAIL = #{user_email}
    </select>
    <select id="getUserLoginCheck" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT COUNT(*) AS isExist
        FROM USER_INFO
        WHERE ID = #{user_id}
          AND PASSWORD = #{user_password}
    </select>
    <update id="updateUserPsw" parameterType="UserInfoDTO">
        UPDATE USER_INFO
        SET PASSWORD = #{user_password}
        WHERE ID = #{user_id}
    </update>
</mapper>